.home-page {
  background-image: url('../../../public/assets/home.jpg');
  background-size: cover;
  background-position: center;
  min-height: 91dvh;
  width: 100%;

  overflow: hidden;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  /* Dark backdrop */
  z-index: 1;
}

.content {
  z-index: 2;
}